html {
  font-size: 125%;
}

p {
  color: #284C75;
  font-family: "Alegreya", "Merriweather", Helvetica, sans-serif;
  line-height: 1.5rem;
  text-align: left;
}

.italic {
  font-style: italic;
}

body {
  background-color: #C29B55;
}

h1 {
  color: #284C75;
  font-family: Helvetica, sans-serif;
  font-size: 2rem;
  padding-left: 40px;
  padding-right: 40px;
}

.body {
  padding-left: 40px;
  padding-right: 40px;
}

.body img {
  width: 100%;
}

.image-1, .image-2, .image-3 {
  display: flex;
  padding: 20px;
  justify-content: center;
}

.section1, .section2 {
  max-width: 900px;
}

h2 {
  color: #284C75;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 1.5rem;
}

.pullquote-1 {
  font-family: Helvetica;
  font-size: 1.3rem;
}

#container {
  width: 90%;
  background-color: #ffffff;
  margin: 0 auto;
}

.item-1 img {
  display: flex;
  max-width: 400px;
}

.media-body-1 {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.media-body-2 {
  font-size: 1rem;
}

.item-3 img {
  display: flex;
  max-width: 400px;
}

.item-4 img {
  display: flex;
  max-width: 400px;
  margin-bottom: 10px;
}

.media-body-3 {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

nav {
  width: 100%;
}

.nav li {
    display: block;
    border-top: 1px #ccc solid;
}

.nav {
  display: none;
  justify-content: space-between;
}

nav a {
  color: #ffffff;
  display: block;
  text-decoration: none;
  padding: 20px 30px;
}

.header {
  display: flex;
  flex-flow: row;
  background-color: #8AC0FF;
  margin: 0;
  padding: 0 10px;
}

.item-2, .item-3, .item-4 {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

h3, h4 {
  font-size: 1.2rem;
  font-family: "Alegreya", "Merriweather", Helvetica, sans-serif bold;
  margin-top: 15px;
  margin-bottom: 0;
}

.item-1 a {
  color: #284C75;
  text-decoration: none;
}

.item-1 a:hover, .nav a:active {
  color: #8AC0FF;
}

.item-2 a {
  color: #284C75;
  text-decoration: none;
}

.item-2 a:hover, .nav a:active {
  color: #8AC0FF;
}

.item-3 a {
  color: #284C75;
  text-decoration: none;
}

.item-3 a:hover, .nav a:active {
  color: #8AC0FF;
}

.item-4 a {
  color: #284C75;
  text-decoration: none;
}

.item-4 a:hover, .nav a:active {
  color: #8AC0FF;
}

h4 {
  color: #284C75;
  text-decoration: none;
}

.lesson {
  font-size: 1.1rem;
  font-style: italic;
  background-color: #8AC0FF;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.photo-caption {
  display: flex;
  flex-flow: column;
}

.photo-caption img {
  margin-bottom: -20px;
}

.caption {
  font-size: .75rem;
}

.menu-trigger {
  order: 1;
  font-size: 1.75em;
  width: 2em;
}

#footer {
  color: #284C75;
  font-family: Georgia, "Times New Roman", sans-serif;
  font-size: 0.6em;
  border-top: 1px solid black;
  padding-left: 5px;
}

@media screen and (min-width: 600px) {
  .image-1 img {
    max-width: 400px;
  }

  .image-2 img {
    max-width: 500px;
  }

  .image-3 img {
    max-width: 400px;
  }
}

@media screen and (min-width: 800px) {
  .article-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
        "a b"
        ". b"
        "d c"
        "f e";
  }

  .image-1 {
    grid-area: a;
  }

  .section1 {
    grid-area: b;
  }

  .image-2 {
    grid-area: c;
  }

  .pullquote-1 {
    grid-area: d;
  }

  .section2 {
    grid-area: e;
  }

  .image-3 {
    grid-area: f;
  }

  .item-1 {
    display: flex;
  }

  .item-1 img {
    display: flex;
  }

  .item-3 {
    display: flex;
  }

  .item-3 img {
    display: flex;
  }

  .item-4 {
    display: flex;
  }

  .item-4 img {
    display: flex;
  }

  .media-body-1, .media-body-3, .media-body-4 {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }

}

@media screen and (min-width: 1000px) {

  .image-1 {
    margin-left: 30px;
  }

  .article-1 {
    display: grid;
    grid-template-columns: 350px 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
        "a b b"
        ". b b"
        "d c c"
        "f e e";
  }

}

@media screen and (min-width: 1150px) {

  .nav {
    display: flex;
 }

  .nav li {
    display: flex;
    justify-content: space-between;
    border-top: none;
  }

  .menu-trigger {
    display: none;
  }

  .nav a:link, .nav a:visited {
    display: block;
      color: #ffffff;
      background-color: #8AC0FF;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      font-family: "Alegreya", "Merriweather", Helvetica, sans-serif;
  }

  .nav a:hover, .nav a:active {
      background-color: #5588C2;
  }

}

@media screen and (min-width: 1200px) {
  .image-1 {
    width: 70%;
  }

  .section1, .section2, .image-2, .image-3 {
    max-width: 700px;
  }

  .image-2 {
    display: flex;
    justify-content: center;
  }

  .article-1 {
    display: grid;
    grid-template-columns: 250px 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
        "a b b ."
        ". c c ."
        ". e e ."
        "d f f .";
  }

}
