html {
  font-size: 125%;
}

p {
  color: #284C75;
  font-family: "Alegreya", "Merriweather", Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: left;
  padding-right: 40px;
  padding-left: 40px;
}

.italic {
  font-style: italic;
}

body {
  background-color: #C29B55;
}

h1 {
  color: #284C75;
  font-family: Helvetica, sans-serif;
  font-size: 2rem;
  padding-left: 40px;
}

.image-1, .image-2, .image-3 {
  display: flex;
  padding: 20px;
  justify-content: center;
}

.image-1 img {
  width: 100%;
}

.image-2 img {
  width: 100%;
}

.image-3 img {
  width: 100%;
}

.section1, .section2 {
  max-width: 900px;
}

h2 {
  color: #284C75;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 2rem;
  padding-left: 40px;
}

.pullquote-1 {
  font-family: Helvetica;
  font-size: 1.3rem;
}

#container {
  width: 85%;
  background-color: #ffffff;
  margin: 0 auto;
}

nav {
  width: 100%;
}

.nav li {
    display: block;
    border-top: 1px #ccc solid;
}

.nav {
  display: none;
  justify-content: space-between;
}

nav a {
  color: #ffffff;
  display: block;
  text-decoration: none;
  padding: 20px 30px;
}

.header {
  display: flex;
  flex-flow: row;
  background-color: #8AC0FF;
  margin: 0;
  padding: 0 10px;
}

/*.nav a:link, .nav a:visited {
	display:block;
    color: #ffffff;
    background-color: #8AC0FF;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 4px;
    font-family: "Alegreya", "Merriweather", Helvetica, sans-serif;
}
.nav a:hover, .nav a:active {
    background-color: #5588C2;
}*/

.menu-trigger {
  order: 1;
  font-size: 1.75em;
  width: 2em;
}

#footer {
  color: #284C75;
  font-family: Georgia, "Times New Roman", sans-serif;
  font-size: 0.8em;
  border-top: 1px solid black;
}

@media screen and (min-width: 600px) {
  .image-1 img {
    max-width: 400px;
  }

  .image-2 img {
    max-width: 500px;
  }

  .image-3 img {
    max-width: 400px;
  }
}

@media screen and (min-width: 800px) {
  .article-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
        "a b"
        ". b"
        "d c"
        "f e";
  }

  .image-1 {
    grid-area: a;
  }

  .section1 {
    grid-area: b;
  }

  .image-2 {
    grid-area: c;
  }

  .pullquote-1 {
    grid-area: d;
  }

  .section2 {
    grid-area: e;
  }

  .image-3 {
    grid-area: f;
  }

}

@media screen and (min-width: 1000px) {

  .image-1 {
    margin-left: 30px;
  }

  .article-1 {
    display: grid;
    grid-template-columns: 350px 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
        "a b b"
        ". b b"
        "d c c"
        "f e e";
  }

}

@media screen and (min-width: 1150px) {

  .nav {
    display: flex;
 }

  .nav li {
    display: flex;
    justify-content: space-between;
    border-top: none;
  }

  .menu-trigger {
    display: none;
  }

  .nav a:link, .nav a:visited {
    display: block;
      color: #ffffff;
      background-color: #8AC0FF;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      font-family: "Alegreya", "Merriweather", Helvetica, sans-serif;
  }

  .nav a:hover, .nav a:active {
      background-color: #5588C2;
  }

}

@media screen and (min-width: 1200px) {
  .image-1 {
    width: 70%;
  }

  .section1, .section2, .image-2, .image-3 {
    max-width: 700px;
  }

  .image-2 {
    display: flex;
    justify-content: center;
  }

  .article-1 {
    display: grid;
    grid-template-columns: 250px 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
        "a b b ."
        ". c c ."
        ". e e ."
        "d f f .";
  }

}
